/* EnemySection.css */
.whole-enemy {
  border-bottom: 1px white solid;
  padding: 20px 20px 50px 20px;
}



@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.typewriter-cursor::after {
  content: "|";
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
  color: white;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}



.enemy-section {
  padding: 40px;
  display: flex;
  align-items: flex;
  justify-content: center;
  gap: 50px;
  
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.enemy-section.reverse {
  flex-direction: row-reverse;
}

.enemy-text {
  flex: 1;
  max-width: 400px;
}

.enemy-image {
  max-width: 640px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.enemy-image img {
  width: 48%;
  border-radius: 12px;
  object-fit: cover;
}

.video-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
  display: block;
}


.lower-enemy-image {
  padding: 0px 0px 0px 40px;
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.lower-enemy-image img {
  width: 100%;        
  max-width: 500px;  
  height: auto;      
  object-fit: cover;
}
@media (max-width: 768px) {
  .enemy-section {
    flex-direction: column;
  }

  .lower-enemy-image {
    flex-direction: column;
    padding: 0; 
  }

  .lower-enemy-image img {
    max-width: 100%; 
  }
}
